.side-bar{
    width: 250px;
    height: 100vh;
    background-color: #F5F7F8;
    padding-inline: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
i{
    color: #A6AEBF;
}
.top-side-bar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.top-side-bar h2{
    font-size: 2rem;
    font-weight: 800;
}
.top-side-bar i{
    color: #133E87;
}
.mid-side-bar{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mid-side-bar-element{
    width: 100%;
    padding-inline: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    transition: background-color 0.2s ease;
}
.mid-side-bar-element h3{
    color: #A6AEBF;
}
.mid-side-bar-element:hover{
    background-color: #dfdfdf;
}
.mid-side-bar-element:hover > h3{
    color: #45474B;
}
.mid-side-bar-element:hover > i{
    color: #608BC1;
}
.mid-side-bar-element:active{
    background-color: #396ec98a;
}





#notification{
    background-color: #FF4545;
    color: #F4F6FF;
    font-size: 13px;
    font-weight: 700;
    height: 17px;
    width: 17px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 33px;
    top: 12px;
}

.bottom-side-bar{
    position: relative;
    height: 180px;
    padding-inline: 30px;
    padding-bottom: 10px;
    background-color: rgb(217, 229, 236);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
#description-side-bar span{
    color: #FF4545;
}
#description-side-bar p{
    color: #45474B;
    margin-top: 0;
}
#description-side-bar h3{
    margin-bottom: 5px;
}
#upgrade-button{
    border: none;
    background-color: #608BC1;
    padding: 10px 50px;
    color: #F4F6FF;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}
#upgrade-button:hover{
    background-color: #133E87;
}
#upgrade-button:active{
    background-color: #FF4545;
}

#image-side-bar{
    top: -60px;
    position: absolute;
    height: 120px;
    width: 120px;
}
#image-side-bar img{
    height: 100%;
}







aside{
    width: 300px;
    height: 100vh;
    background-color: red;
}